@font-face {
  font-family: "Venetian301 BT";
  src: url("./assets/fonts/VEN301N.ttf");
}

@font-face {
  font-family: "Square721 BT";
  src: url("./assets/fonts/square-721-bt.ttf");
}

@font-face {
  font-family: "Calibri";
  src: url("./assets/fonts/Calibri.ttf");
}

body,
#root {
  margin: 0;
  width: 1920px;
  height: 1080px;
  background: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-YELLOW {
  background: linear-gradient(
    90deg,
    rgba(222, 181, 72, 0.0718662464985994) 0%,
    rgba(222, 181, 72, 0.8085609243697479) 27%,
    rgba(222, 181, 72, 1) 55%
  );
}

.gradient-GREEN {
  background: linear-gradient(
    90deg,
    rgba(103, 172, 105, 0.0718662464985994) 0%,
    rgba(103, 172, 105, 0.8085609243697479) 27%,
    rgba(103, 172, 105, 1) 55%
  );
}

.gradient-GREEN-reverse {
  background: linear-gradient(
    270deg,
    rgba(103, 172, 105, 0.0718662464985994) 0%,
    rgba(103, 172, 105, 0.8085609243697479) 27%,
    rgba(103, 172, 105, 1) 55%
  );
}

.ven {
  font-family: "Venetian301 BT";
}

.square {
  font-family: "Square721 BT";
}

.calibri {
  font-family: "Calibri";
}

.tracking-super-wide {
  letter-spacing: 14px;
}

.text-white {
  color: white !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.battle-content p {
margin-bottom: 12px;
}
/*@tailwind utilities {*/
/*}*/
